# Secrets / env files
.env
.env.*
*.key
*.pem
credentials.json
secrets.json

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS files
.DS_Store
Thumbs.db

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
